In [ ]:
from google.colab import files
files.upload()

Saving  ACKTR_100-1k.csv to  ACKTR_100-1k.csv

{' ACKTR_100-1k.csv': b'Date,States,Action_Buckets,Bucket_Value\r\n28-12-2020,Assam,15,100\r\n28-12-2020,Delhi,7,100\r\n28-12-2020,Jharkhand,17,100\r\n28-12-2020,Maharashtra,58,100\r\n28-12-2020,Nagaland,1,100\r\n29-12-2020,Assam,15,100\r\n29-12-2020,Delhi,7,100\r\n29-12-2020,Jharkhand,17,100\r\n29-12-2020,Maharashtra,58,100\r\n29-12-2020,Nagaland,1,100\r\n30-12-2020,Assam,15,100\r\n30-12-2020,Delhi,7,100\r\n30-12-2020,Jharkhand,17,100\r\n30-12-2020,Maharashtra,58,100\r\n30-12-2020,Nagaland,1,100\r\n31-12-2020,Assam,15,100\r\n31-12-2020,Delhi,7,100\r\n31-12-2020,Jharkhand,17,100\r\n31-12-2020,Maharashtra,58,100\r\n31-12-2020,Nagaland,1,100\r\n28-12-2020,Assam,31,200\r\n28-12-2020,Delhi,16,200\r\n28-12-2020,Jharkhand,35,200\r\n28-12-2020,Maharashtra,116,200\r\n28-12-2020,Nagaland,2,200\r\n29-12-2020,Assam,31,200\r\n29-12-2020,Delhi,16,200\r\n29-12-2020,Jharkhand,16,200\r\n29-12-2020,Maharashtra,116,200\r\n29-12-2020,Nagaland,2,200\r\n30-12-2020,Assam,31,200\r\n30-12-2020,Delhi,16,200\r\n30-12-2020,Jharkhand,35,200\r\n30-12-2020,Maharashtra,116,200\r\n30-12-2020,Nagaland,2,200\r\n31-12-2020,Assam,31,200\r\n31-12-2020,Delhi,16,200\r\n31-12-2020,Jharkhand,35,200\r\n31-12-2020,Maharashtra,116,200\r\n31-12-2020,Nagaland,2,200\r\n28-12-2020,Assam,47,300\r\n28-12-2020,Delhi,24,300\r\n28-12-2020,Jharkhand,53,300\r\n28-12-2020,Maharashtra,175,300\r\n28-12-2020,Nagaland,4,300\r\n29-12-2020,Assam,47,300\r\n29-12-2020,Delhi,24,300\r\n29-12-2020,Jharkhand,24,300\r\n29-12-2020,Maharashtra,175,300\r\n29-12-2020,Nagaland,4,300\r\n30-12-2020,Assam,47,300\r\n30-12-2020,Delhi,24,300\r\n30-12-2020,Jharkhand,4,300\r\n30-12-2020,Maharashtra,45,300\r\n30-12-2020,Nagaland,4,300\r\n31-12-2020,Assam,47,300\r\n31-12-2020,Delhi,24,300\r\n31-12-2020,Jharkhand,53,300\r\n31-12-2020,Maharashtra,175,300\r\n31-12-2020,Nagaland,4,300\r\n28-12-2020,Assam,63,400\r\n28-12-2020,Delhi,33,400\r\n28-12-2020,Jharkhand,72,400\r\n28-12-2020,Maharashtra,233,400\r\n28-12-2020,Nagaland,5,400\r\n29-12-2020,Assam,63,400\r\n29-12-2020,Delhi,33,400\r\n29-12-2020,Jharkhand,33,400\r\n29-12-2020,Maharashtra,233,400\r\n29-12-2020,Nagaland,5,400\r\n30-12-2020,Assam,63,400\r\n30-12-2020,Delhi,33,400\r\n30-12-2020,Jharkhand,5,400\r\n30-12-2020,Maharashtra,60,400\r\n30-12-2020,Nagaland,5,400\r\n31-12-2020,Assam,63,400\r\n31-12-2020,Delhi,33,400\r\n31-12-2020,Jharkhand,72,400\r\n31-12-2020,Maharashtra,233,400\r\n31-12-2020,Nagaland,5,400\r\n28-12-2020,Assam,79,500\r\n28-12-2020,Delhi,41,500\r\n28-12-2020,Jharkhand,90,500\r\n28-12-2020,Maharashtra,292,500\r\n28-12-2020,Nagaland,7,500\r\n29-12-2020,Assam,79,500\r\n29-12-2020,Delhi,41,500\r\n29-12-2020,Jharkhand,41,500\r\n29-12-2020,Maharashtra,292,500\r\n29-12-2020,Nagaland,7,500\r\n30-12-2020,Assam,79,500\r\n30-12-2020,Delhi,41,500\r\n30-12-2020,Jharkhand,7,500\r\n30-12-2020,Maharashtra,76,500\r\n30-12-2020,Nagaland,7,500\r\n31-12-2020,Assam,79,500\r\n31-12-2020,Delhi,41,500\r\n31-12-2020,Jharkhand,90,500\r\n31-12-2020,Maharashtra,292,500\r\n31-12-2020,Nagaland,7,500\r\n28-12-2020,Assam,95,600\r\n28-12-2020,Delhi,50,600\r\n28-12-2020,Jharkhand,8,600\r\n28-12-2020,Maharashtra,8,600\r\n28-12-2020,Nagaland,8,600\r\n29-12-2020,Assam,95,600\r\n29-12-2020,Delhi,50,600\r\n29-12-2020,Jharkhand,50,600\r\n29-12-2020,Maharashtra,8,600\r\n29-12-2020,Nagaland,8,600\r\n30-12-2020,Assam,95,600\r\n30-12-2020,Delhi,50,600\r\n30-12-2020,Jharkhand,8,600\r\n30-12-2020,Maharashtra,91,600\r\n30-12-2020,Nagaland,8,600\r\n31-12-2020,Assam,95,600\r\n31-12-2020,Delhi,50,600\r\n31-12-2020,Jharkhand,8,600\r\n31-12-2020,Maharashtra,8,600\r\n31-12-2020,Nagaland,8,600\r\n28-12-2020,Assam,111,700\r\n28-12-2020,Delhi,58,700\r\n28-12-2020,Jharkhand,10,700\r\n28-12-2020,Maharashtra,10,700\r\n28-12-2020,Nagaland,10,700\r\n29-12-2020,Assam,111,700\r\n29-12-2020,Delhi,58,700\r\n29-12-2020,Jharkhand,58,700\r\n29-12-2020,Maharashtra,10,700\r\n29-12-2020,Nagaland,10,700\r\n30-12-2020,Assam,111,700\r\n30-12-2020,Delhi,58,700\r\n30-12-2020,Jharkhand,10,700\r\n30-12-2020,Maharashtra,106,700\r\n30-12-2020,Nagaland,10,700\r\n31-12-2020,Assam,111,700\r\n31-12-2020,Delhi,58,700\r\n31-12-2020,Jharkhand,10,700\r\n31-12-2020,Maharashtra,10,700\r\n31-12-2020,Nagaland,10,700\r\n28-12-2020,Assam,127,800\r\n28-12-2020,Delhi,67,800\r\n28-12-2020,Jharkhand,11,800\r\n28-12-2020,Maharashtra,11,800\r\n28-12-2020,Nagaland,11,800\r\n29-12-2020,Assam,127,800\r\n29-12-2020,Delhi,67,800\r\n29-12-2020,Jharkhand,67,800\r\n29-12-2020,Maharashtra,11,800\r\n29-12-2020,Nagaland,11,800\r\n30-12-2020,Assam,127,800\r\n30-12-2020,Delhi,67,800\r\n30-12-2020,Jharkhand,11,800\r\n30-12-2020,Maharashtra,122,800\r\n30-12-2020,Nagaland,11,800\r\n31-12-2020,Assam,127,800\r\n31-12-2020,Delhi,67,800\r\n31-12-2020,Jharkhand,11,800\r\n31-12-2020,Maharashtra,11,800\r\n31-12-2020,Nagaland,11,800\r\n28-12-2020,Assam,143,900\r\n28-12-2020,Delhi,75,900\r\n28-12-2020,Jharkhand,13,900\r\n28-12-2020,Maharashtra,13,900\r\n28-12-2020,Nagaland,13,900\r\n29-12-2020,Assam,143,900\r\n29-12-2020,Delhi,75,900\r\n29-12-2020,Jharkhand,75,900\r\n29-12-2020,Maharashtra,13,900\r\n29-12-2020,Nagaland,13,900\r\n30-12-2020,Assam,143,900\r\n30-12-2020,Delhi,75,900\r\n30-12-2020,Jharkhand,13,900\r\n30-12-2020,Maharashtra,137,900\r\n30-12-2020,Nagaland,13,900\r\n31-12-2020,Assam,143,900\r\n31-12-2020,Delhi,75,900\r\n31-12-2020,Jharkhand,13,900\r\n31-12-2020,Maharashtra,13,900\r\n31-12-2020,Nagaland,13,900\r\n28-12-2020,Assam,160,1000\r\n28-12-2020,Delhi,84,1000\r\n28-12-2020,Jharkhand,15,1000\r\n28-12-2020,Maharashtra,15,1000\r\n28-12-2020,Nagaland,15,1000\r\n29-12-2020,Assam,160,1000\r\n29-12-2020,Delhi,84,1000\r\n29-12-2020,Jharkhand,84,1000\r\n29-12-2020,Maharashtra,15,1000\r\n29-12-2020,Nagaland,15,1000\r\n30-12-2020,Assam,160,1000\r\n30-12-2020,Delhi,84,1000\r\n30-12-2020,Jharkhand,15,1000\r\n30-12-2020,Maharashtra,153,1000\r\n30-12-2020,Nagaland,15,1000\r\n31-12-2020,Assam,160,1000\r\n31-12-2020,Delhi,84,1000\r\n31-12-2020,Jharkhand,15,1000\r\n31-12-2020,Maharashtra,15,1000\r\n31-12-2020,Nagaland,15,1000'}

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv(' ACKTR_100-1k.csv')
df

           Date       States  Action_Buckets  Bucket_Value
0    28-12-2020        Assam              15           100
1    28-12-2020        Delhi               7           100
2    28-12-2020    Jharkhand              17           100
3    28-12-2020  Maharashtra              58           100
4    28-12-2020     Nagaland               1           100
..          ...          ...             ...           ...
195  31-12-2020        Assam             160          1000
196  31-12-2020        Delhi              84          1000
197  31-12-2020    Jharkhand              15          1000
198  31-12-2020  Maharashtra              15          1000
199  31-12-2020     Nagaland              15          1000

[200 rows x 4 columns]

In [ ]:
df_Bucket=df[df.Bucket_Value==100] #Changing the Bucket Value here
df_Bucket

          Date       States  Action_Buckets  Bucket_Value
0   28-12-2020        Assam              15           100
1   28-12-2020        Delhi               7           100
2   28-12-2020    Jharkhand              17           100
3   28-12-2020  Maharashtra              58           100
4   28-12-2020     Nagaland               1           100
5   29-12-2020        Assam              15           100
6   29-12-2020        Delhi               7           100
7   29-12-2020    Jharkhand              17           100
8   29-12-2020  Maharashtra              58           100
9   29-12-2020     Nagaland               1           100
10  30-12-2020        Assam              15           100
11  30-12-2020        Delhi               7           100
12  30-12-2020    Jharkhand              17           100
13  30-12-2020  Maharashtra              58           100
14  30-12-2020     Nagaland               1           100
15  31-12-2020        Assam              15           100
16  31-12-2020        Delhi               7           100
17  31-12-2020    Jharkhand              17           100
18  31-12-2020  Maharashtra              58           100
19  31-12-2020     Nagaland               1           100

In [ ]:
df_date=df_Bucket[df_Bucket.Date=='28-12-2020'] #Changing the date from here. Right now 28th
df_date

         Date       States  Action_Buckets  Bucket_Value
0  28-12-2020        Assam              15           100
1  28-12-2020        Delhi               7           100
2  28-12-2020    Jharkhand              17           100
3  28-12-2020  Maharashtra              58           100
4  28-12-2020     Nagaland               1           100

In [ ]:
#We get the dataframes for each state on that particular day
df_Assam=df_date[df_date.States=='Assam'] 
df_Delhi=df_date[df_date.States=='Delhi']
df_Jharkhand=df_date[df_date.States=='Jharkhand']
df_Maharashtra=df_date[df_date.States=='Maharashtra']
df_Nagaland=df_date[df_date.States=='Nagaland']

In [ ]:
len(df_Assam)

1

In [ ]:
#For computing actions.mean() for all states
mean_actions=[]

mean_act_Assam=round(df_Assam['Action_Buckets'].mean(),4)
mean_actions.append(mean_act_Assam)

mean_act_Delhi=round(df_Delhi['Action_Buckets'].mean(),4)
mean_actions.append(mean_act_Delhi)

mean_act_Jharkhand=round(df_Jharkhand['Action_Buckets'].mean(),4)
mean_actions.append(mean_act_Jharkhand)

mean_act_Maharashtra=round(df_Maharashtra['Action_Buckets'].mean(),4)
mean_actions.append(mean_act_Maharashtra)

mean_act_Nagaland=round(df_Nagaland['Action_Buckets'].mean(),4)
mean_actions.append(mean_act_Nagaland)

sum_mean_act=mean_act_Assam+mean_act_Delhi+mean_act_Jharkhand+mean_act_Maharashtra+mean_act_Nagaland

In [ ]:
#Normalised Actions
normalised_actions=[]

normalised_action_Assam=round(100*mean_act_Assam/sum_mean_act,4)
normalised_actions.append(normalised_action_Assam)

normalised_action_Delhi=round(100*mean_act_Delhi/sum_mean_act,4)
normalised_actions.append(normalised_action_Delhi)

normalised_action_Jharkhand=round(100*mean_act_Jharkhand/sum_mean_act,4)
normalised_actions.append(normalised_action_Jharkhand)

normalised_action_Maharashtra=round(100*mean_act_Maharashtra/sum_mean_act,4)
normalised_actions.append(normalised_action_Maharashtra)

normalised_action_Nagaland=round(100*mean_act_Nagaland/sum_mean_act,4)
normalised_actions.append(normalised_action_Nagaland)

In [ ]:
#Standard deviations
standard_deviations=[]

standard_deviation_Assam=(round(df_Assam['Action_Buckets'].std(),4))
standard_deviations.append(standard_deviation_Assam)

standard_deviation_Delhi=(round(df_Delhi['Action_Buckets'].std(),4))
standard_deviations.append(standard_deviation_Delhi)

standard_deviation_Jharkhand=(round(df_Jharkhand['Action_Buckets'].std(),4))
standard_deviations.append(standard_deviation_Jharkhand)

standard_deviation_Maharashtra=(round(df_Maharashtra['Action_Buckets'].std(),4))
standard_deviations.append(standard_deviation_Maharashtra)

standard_deviation_Nagaland=(round(df_Nagaland['Action_Buckets'].std(),4))
standard_deviations.append(standard_deviation_Nagaland)

In [ ]:
100*mean_act_Maharashtra/sum_mean_act

In [ ]:
import math
#Printing the desired oututs

print('Vaccine %')

for i in range(len(normalised_actions)):
  print(normalised_actions[i])

print()

print('Mean Action')
for i in range(len(mean_actions)):
  print(mean_actions[i])

print()


print('Standard Deviation')
for i in range(len(standard_deviations)):
  print(standard_deviations[i])

print()

print('Upper CI')
for i in range(len(mean_actions)):
  print(round(mean_actions[i]+ (1.96*math.sqrt(standard_deviations[i]))/math.sqrt(8),4))

print()
print('Lower CI')
for i in range(len(mean_actions)):
  print(round(mean_actions[i]- (1.96*math.sqrt(standard_deviations[i]))/math.sqrt(8),4))

Vaccine %
15.3061
7.1429
17.3469
59.1837
1.0204

Mean Action
15.0
7.0
17.0
58.0
1.0

Standard Deviation
nan
nan
nan
nan
nan

Upper CI
nan
nan
nan
nan
nan

Lower CI
nan
nan
nan
nan
nan